<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
		<div class="flex-container">
        <header>
                <h1>Welcome to CS480w</h1>
		  </header>
		  <article class="article">
			  <strong>This is project 4.</strong><br><br>
			  Please Select an option below.<br><br>
					<input type="submit" onClick="location.href='login.html'" id="login" value="Login">
					<input type="submit" onClick="location.href='registration.html'" id="register" value="Register">
			</article>
</div>
</body>
		
		<footer><strong>Name: Marchrista Jones<br></br>Email: mjones33@binghamton.edu</strong></footer> 
</html>
