<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>				
		<div class="flex-container">
			<header>
				<h1>Welcome to the Account Page</h1>
			</header>
			<form  action="/accountPage" method="post">
				First Name: {{fname}}<br></br>Last Name: {{lname}}
			</form>
			<form	name=logout action="/index.html" method="get">
				<input type="submit" value="Logout">
			</form>
	</body>
			<footer><strong>Name: Marchrista Jones<br></br>Email: mjones33@binghamton.edu</strong></footer> 
</html>

